<div>
  <link href="./navigation-links22.css" rel="stylesheet" />
  <nav class="navigation-links22-nav">
    <a href="apply-visa.html" class="navigation-links22-navlink">
      <span>Apply Visa</span>
    </a>
    <span class="navigation-links22-text"><span>Update Visa</span></span>
    <span class="navigation-links22-text1"><span>File Tax</span></span>
    <span class="navigation-links22-text2"><span>Team</span></span>
    <span class="navigation-links22-text3"><span>Blog</span></span>
  </nav>
</div>
