<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="visa-personal.html" class="navigation-links-navlink">
      <span>Apply Visa</span>
    </a>
    <a href="admin-login.html" class="navigation-links-navlink1">
      <span>Admin Login</span>
    </a>
    <span class="navigation-links-text"><span>Pricing</span></span>
    <span class="navigation-links-text1"><span>Team</span></span>
    <span class="navigation-links-text2"><span>Blog</span></span>
  </nav>
</div>
