<div>
  <link href="./navigation-links19.css" rel="stylesheet" />
  <nav class="navigation-links19-nav">
    <a href="login.html" class="navigation-links19-navlink">
      <span>Login</span>
    </a>
    <a href="signup.html" class="navigation-links19-navlink1">
      <span>Signup</span>
    </a>
    <a href="visa-personal.html" class="navigation-links19-navlink2">
      <span>Apply Visa</span>
    </a>
    <span class="navigation-links19-text"><span>Team</span></span>
    <span class="navigation-links19-text1"><span>Blog</span></span>
  </nav>
</div>
